/* nunito-regular - latin_latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.holidayhype.co.uk/assets/holidayhypermarket/fonts/nunito-v10-latin_latin-ext-regular.eot"); /* IE9 Compat Modes */
  src: local("Nunito Regular"), local("Nunito-Regular"),
    url("https://cdn.holidayhype.co.uk/assets/holidayhypermarket/fonts/nunito-v10-latin_latin-ext-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("https://cdn.holidayhype.co.uk/assets/holidayhypermarket/fonts/nunito-v10-latin_latin-ext-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("https://cdn.holidayhype.co.uk/assets/holidayhypermarket/fonts/nunito-v10-latin_latin-ext-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("https://cdn.holidayhype.co.uk/assets/holidayhypermarket/fonts/nunito-v10-latin_latin-ext-regular.svg#Nunito")
      format("svg"); /* Legacy iOS */
}
/* nunito-700 - latin_latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.holidayhype.co.uk/assets/holidayhypermarket/fonts/nunito-v10-latin_latin-ext-700.eot"); /* IE9 Compat Modes */
  src: local("Nunito Bold"), local("Nunito-Bold"),
    url("https://cdn.holidayhype.co.uk/assets/holidayhypermarket/fonts/nunito-v10-latin_latin-ext-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("https://cdn.holidayhype.co.uk/assets/holidayhypermarket/fonts/nunito-v10-latin_latin-ext-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("https://cdn.holidayhype.co.uk/assets/holidayhypermarket/fonts/nunito-v10-latin_latin-ext-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("https://cdn.holidayhype.co.uk/assets/holidayhypermarket/fonts/nunito-v10-latin_latin-ext-700.svg#Nunito")
      format("svg"); /* Legacy iOS */
}
